.git/
.gitignore
.next/
node_modules/
.dockerignore
Dockerfile
docker-compose.yml

# TERRAFORM

# Compiled files
**/.terraform/*
**/.terragrunt-cache/*
*.tfstate
*.tfstate.*

# Module directory
.terraform
**/.idea
**/*.iml
*.tf
*.tfvars
**/.build-harness
**/build-harness

# terraform lock.hcl file
*.terraform.lock.hcl

# Ignore CLI configuration files
my_ip.txt